<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontSize</key>
	<array>
		<string>巨无霸</string>
		<string>巨大</string>
		<string>超大</string>
		<string>大</string>
		<string>中</string>
		<string>小</string>
	</array>
	<key>SettingView</key>
	<array>
		<string>字体大小</string>
		<string>夜间模式</string>
		<string>清除缓存</string>
		<string>检查更新</string>
		<string>意见反馈</string>
		<string>关于听闻</string>
		<string>喜欢，就来评分吧</string>
	</array>
	<key>SettingViewThumbnails</key>
	<array>
		<string>font.png</string>
		<string>nightMode.png</string>
		<string>clearcache.png</string>
		<string>updata.png</string>
		<string>feedback.png</string>
		<string>about.png</string>
		<string>favourable_comment.png</string>
	</array>
	<key>LeftMenuThumbnails</key>
	<array>
		<string>dingyue</string>
		<string>toutiao</string>
		<string>shizheng1</string>
		<string>shehui1</string>
		<string>qiwen</string>
		<string>duanzi_selected_no</string>
		<string>yule</string>
		<string>qinggan(1)</string>
		<string>ganhuo2</string>
		<string>tiyu\</string>
		<string>caijing</string>
		<string>keji</string>
		<string>junshi</string>
		<string>fangchan</string>
	</array>
	<key>LeftMenuThumbnailsHighlight</key>
	<array>
		<string>4-1</string>
		<string>5-1</string>
		<string>6-1</string>
		<string>7-1</string>
		<string>8-1</string>
		<string>duanzi_selected</string>
		<string>9-1</string>
		<string>qinggan_pressed(1)</string>
		<string>ganhuo</string>
		<string>10-1</string>
		<string>11-1</string>
		<string>12-1</string>
		<string>13-1</string>
		<string>14-1</string>
	</array>
	<key>LeftMenuItems</key>
	<array>
		<string>头条</string>
		<string>时政</string>
		<string>娱乐</string>
		<string>干货</string>
		<string>财经</string>
		<string>科技</string>
	</array>
	<key>LeftMenu</key>
	<dict>
		<key>头条</key>
		<string>1</string>
		<key>时政</key>
		<string>14</string>
		<key>娱乐</key>
		<string>4</string>
		<key>财经</key>
		<string>6</string>
		<key>科技</key>
		<string>7</string>
		<key>干货</key>
		<string>18</string>
	</dict>
</dict>
</plist>
